<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin">Admin panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="/admin">All products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin/view-all-orders">All orders</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin/view-users">All users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/product-category">Manage product category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/promo-codes">Coupons</a>
        </li>
      </ul>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{#if adminInfo}}
          {{adminInfo.name}}
          {{else}}
          Account
          {{/if}}

        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">


          {{#if adminInfo}}
          <a class="dropdown-item" href="/admin/admin-logout">Logout</a>
          {{else}}<a class="dropdown-item" href="/admin/admin-login">Login</a>
          {{/if}}

        </div>
      </div>
    </div>
  </nav>
</header>