<section>
    <div class="container">
        {{#if passErr}}
            <div class="alert alert-danger">The current password you entered doesn't match with your existing password</div>
        {{/if}}
        
        <h3>Change your password</h3>
        <form action="/change-password" method="post" class="form" onsubmit="return validatePasswordMatch();">
            <label for="">Enter your current password : </label><br>
            <input type="password" name="currentPass" class="passwordShowToggle"><br>

            <label for="">Enter your new password : </label><br>
            <input type="password" name="newPass" class="passwordShowToggle"><br>
            
            <label for="">Confirm your current password : </label><br>
            <input type="password" name="confirmPass" class="passwordShowToggle" oninput="validatePasswordMatch()"><br>

            <input type="checkbox" onclick="passwordVisibilityToggle()">Show Password <br><br>

            <span id="passwordError" class="error-message alert alert-danger" style="display: none;"></span> <br>
            
            <button class="btn btn-success">Change password</button>
        </form>
    </div>
</section>
<script>
function validatePasswordMatch() {
    var newPassword = document.querySelector("input[name='newPass']").value;
    var confirmPassword = document.querySelector("input[name='confirmPass']").value;
    var errorSpan = document.getElementById("passwordError");

    if (newPassword !== confirmPassword) {
        errorSpan.style.display = "block";
        errorSpan.innerHTML = "Passwords do not match";
        return false;
    } else {
        errorSpan.style.display = "none";
        errorSpan.innerHTML = ""; // Clear the error message
        return true;
    }
}
</script>
